{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block body %}
<div class="container-fluid mt-3">
  <div id="assemblies_summary" class="summary span-24 last">
    <h2>Assemblies</h2>
  </div>

<div class="d-flex flex-row">
  <div class="d-flex p-5">
    <table class="display" id="assemblies">
      <thead>
        <tr>
          <th>ID</th>
          <th>Isolate ID</th>
          <th>Metagenomic Sample ID</th>
          <th>Metagenomic Run ID</th>
          <th>Nanopore</th>
          <th>Run Number</th>
          <th>Sunbeam Version</th>
          <th>SBX SGA Version</th>
          <th>NCBI ID</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function () {
    const assemblyUrl = "{{ url_for('show_assembly', assembly_id=0)[:-1] }}";
    const oTable = createServerDataTable('#assemblies', '{{ url_for('api_assemblies') }}', [
        { data: 'id', render: function(d) { return '<a href="' + assemblyUrl + d + '">' + d + '</a>'; } },
        { data: 'isolate_id' },
        { data: 'metagenomic_sample_id' },
        { data: 'metagenomic_run_id' },
        { data: 'nanopore' },
        { data: 'run_number' },
        { data: 'sunbeam_version' },
        { data: 'sbx_sga_version' },
        { data: 'ncbi_id' }
    ]);

    $('#assemblies_filter').appendTo('#assemblies_summary');
    $('#assemblies_info').addClass('span-12');
    $('#assemblies_paginate').addClass('span-12 last');
    oTable.draw();
});
</script>
{% endblock %}
