{% extends 'base.html' %}

{% block body %}
<div id="isolates_summary" class="summary span-24 last">
  <h2>Isolates</h2>
</div>

<div class="d-flex flex-row">
  <div class="d-flex p-5">
    <table class="display" id="isolates">
      <thead>
        <tr>
          <th>Sample ID</th>
          <th>Received Date</th>
          <th>Cryobanking Date</th>
          <th>Subject ID</th>
          <th>Specimen ID</th>
          <th>Source</th>
          <th>Suspected Organism</th>
          <th>Special Collection</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
  
  <script type="text/javascript">
  $(document).ready(function () {
      /* Initialize the DataTable with server-side processing */
      const isolateUrl = "{{ url_for('show_isolate', isolate_id='') }}";
      const oTable = createServerDataTable('#isolates', '{{ url_for('api_isolates') }}', [
          { data: 'sample_id', render: function(d, type, row) { return '<a href="' + isolateUrl + d + '">' + d + '</a>'; } },
          { data: 'received_date' },
          { data: 'cryobanking_date' },
          { data: 'subject_id' },
          { data: 'specimen_id' },
          { data: 'source' },
          { data: 'suspected_organism' },
          { data: 'special_collection' }
      ]);
  
      /* Move search box to bottom of summary area */
      $("#isolates_filter").appendTo('#isolates_summary');
  
      /* Snap pagination info to grid */
      $("#isolates_info").addClass("span-12");
      $("#isolates_paginate").addClass("span-12 last")
  
      /* Moving the search box breaks the state saving routine */
      /* Redraw manually */
      oTable.draw();
  });
  </script>
{% endblock %}
