{% extends 'base.html' %}

{% block body %}
<div id="isolates_summary" class="summary span-24 last">
  <h2>Isolates</h2>
</div>

<div class="d-flex flex-row">
  <div class="d-flex p-5">
    <table class="display" id="isolates">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Sample ID</th>
          <th>Received Date</th>
          <th>Cryobanking Date</th>
          <th>Subject ID</th>
          <th>Specimen ID</th>
          <th>Source</th>
          <th>Suspected Organism</th>
          <th>Special Collection</th>
        </tr>
      </thead>
      
        <tbody>
        {% for iso in isolates %}
        <tr>
          <td><a href="{{ url_for('show_isolate', isolate_id=iso.id) }}">{{ iso.id }}</a></td>
          <td>{{ iso.sample_id }}</td>
          <td><span class="date">{{ iso.received_date }}</span></td>
          <td><span class="date">{{ iso.cryobanking_date }}</span></td>
          <td><nobr>{{ iso.subject_id }}</nobr></td>
          <td>{{ iso.specimen_id }}</td>
          <td>{{ iso.source }}</td>
          <td>{{ iso.suspected_organism }}</td>
          <td>{{ iso.special_collection }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<nav class="mt-3">
  <ul class="pagination justify-content-center">
    <li class="page-item {% if not pagination.has_prev %}disabled{% endif %}">
      {% if pagination.has_prev %}
      <a class="page-link" href="{{ url_for('browse_isolates', page=pagination.page-1) }}">Previous</a>
      {% else %}<span class="page-link">Previous</span>{% endif %}
    </li>
    <li class="page-item disabled"><span class="page-link">Page {{ pagination.page }}</span></li>
    <li class="page-item {% if not pagination.has_next %}disabled{% endif %}">
      {% if pagination.has_next %}
      <a class="page-link" href="{{ url_for('browse_isolates', page=pagination.page+1) }}">Next</a>
      {% else %}<span class="page-link">Next</span>{% endif %}
    </li>
  </ul>
</nav>
  
  <script type="text/javascript">
  $(document).ready(function () {
      /* Initialize the DataTable */
      const oTable = createDataTable('#isolates');
  
      /* Move search box to bottom of summary area */
      $("#isolates_filter").appendTo('#isolates_summary');
  
      /* Snap pagination info to grid */
      $("#isolates_info").addClass("span-12");
      $("#isolates_paginate").addClass("span-12 last")
  
      /* Moving the search box breaks the state saving routine */
      /* Redraw manually */
      oTable.draw();
  });
  </script>
{% endblock %}
