{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<body>
  <div class="card m-3">
    {% if ticket_code is defined %}
    <p class="m-3">{{ ticket_code }} is not a valid project code.</p>
    {% elif submission_id is defined %}
    <p class="m-3">{{ submission_id }} is not a valid submission id.</p>
    {% elif message is defined %}
    <p class="m-3">{{ message }}</p>
    {% else %}
    <p class="m-3">The page you are looking for does not exist.</p>
    {% endif %}

    <a href="{{url_for('index')}}" class="m-3">Go To Home</a>
  </div>
</body>
{% endblock %}