{% extends 'base.html' %}

{% block body %}
<div class="container py-5">
  <h2 class="mb-3 text-center">Welcome to the microbial ARC isolate database!</h2>
  <p>
    This initiative within the umbrella of Center for Microbial Medicine aims to
    sequence the genome of every clinically relevant isolate collected at
    Children’s Hospital of Philadelphia. The database currently holds, {{ isolate_count }} isolates from
    {{ patient_count }} patients.
  </p>
  <p>The efforts to curate the isolates include:</p>
  <ol>
    {% for collection, val in special_collection_counts.items() %}
    <li>{{ collection }} ({{ val[0] }} isolates) {% if val[1] %} - {{ val[1] }} {% endif %}</li>
    {% endfor %}
  </ol>
  <p>
    Searching through the database you will find information on the specimens
    the bacteria were isolated from, clinical information on subjects, assembled
    genomes and their annotations.
  </p>
</div>

<div>
  <p>Web version: {{ version }}</p>
  <p>DB version: {{ marc_db_version }}</p>
  <p>Last sync: {{ last_sync }}</p>
</div>
{% endblock %}
