{% extends 'base.html' %}

{% block body %}
<!--<div class="header-banner" role="presentation">
  <img
    src="{{ url_for('static', filename='blue_green.png') }}"
    class="header-banner-image"
    alt=""
  >
</div>-->

<div class="container py-5">
  <div class="container blue-card">
    <h3 style="text-transform:none;">Welcome to the Microbial ARchive and Cryo-collection!</h3>
    <!--<img src="{{ url_for('static', filename='smiling_nurse.jpg') }}" alt="Welcome to the Microbial ARchive and Cryo-collection!" title="Welcome to the Microbial ARchive and Cryo-collection!" class="blue-card-image">-->
    <div class="blue-card-content">The microbial ARchive and Cryo-collection (microbialARC) at the Children’s Hospital of Philadelphia is a biorepository and research platform dedicated to preserving and studying both pathogenic and commensal microorganisms. We are building a meticulously curated strain library that advances the field of microbial genomics by integrating advanced cryo-preservation with genomic and phenotypic characterization.
      
    We collaborate closely with clinicians and basic researchers to collect, culture, and sequence microorganisms that shape human health and disease. Through the systematic preservation and genomic characterization of these isolates, microbialARC supports precision surveillance for infection prevention, outbreak response, and mechanistic studies of the microbiome.
    
    Our mission is to transform microbial collections into a dynamic resource for discovery—bridging clinical microbiology, genomics, and bioinformatics to accelerate the development of innovative live biotherapeutics and next-generation tools for understanding microbial evolution and antibiotic resistance. By linking clinical, environmental, and genomic data, microbialARC empowers precision medicine and global health initiatives aimed at improving outcomes for children and communities worldwide.
    </div>
  </div>

  <h4>
    The database currently holds {{ isolate_count }} isolates from {{ patient_count }} patients.
  </h4>

  <p>The efforts to curate the isolates include:</p>
  <ul class="list-unstyled">
    {% for collection, val in special_collection_counts.items() %}
    <li class="mb-2"><strong>{{ collection }}</strong> ({{ val[0] }} isolates){% if val[1] %} - {{ val[1] }}{% endif %}</li>
    {% endfor %}
  </ul>
</div>

<div>
  <p>Web version: {{ version }}</p>
  <p>DB version: {{ marc_db_version }}</p>
  <p>Last sync: {{ last_sync }}</p>
</div>
{% endblock %}
