{% extends 'base.html' %}

{% block head %}
<link
  href="https://unpkg.com/jquery-ui-dist@1.13.3/jquery-ui.min.css"
  rel="stylesheet"
  integrity="sha384-Wdf9be1Zb3KyYwg8A+RZyGXu7V52PYvfwVvmBllPV+Zt39d2+PnJpzm8v6ZEbIIW"
  crossorigin="anonymous"
>
{% endblock %}

{% block body %}
<div class="container py-4">
  <a class="btn btn-link ps-0" href="{{ url_for('browse_taxonomic_assignments') }}">
    <i class="bi bi-arrow-left"></i> Back to taxonomic assignments
  </a>

  <div class="card shadow-sm mb-4">
    <div class="card-header bg-primary text-white">
      <h2 class="h4 mb-0">{{ species_name }}</h2>
    </div>
    <div class="card-body">
      <dl class="row mb-0">
        <dt class="col-sm-4">Matching taxonomic assignments</dt>
        <dd class="col-sm-8">{{ assignment_count }}</dd>
      </dl>
    </div>
  </div>

  <div class="card shadow-sm">
    <div class="card-header bg-light">
      <h3 class="h5 mb-0">Tree</h3>
    </div>
    <div class="card-body">
      {% if tree_error %}
      <p class="text-danger mb-0">Unable to read treefile: {{ tree_error }}</p>
      {% elif tree_content %}
      <p class="text-muted small mb-2">Source: {{ tree_path.rsplit('/', 1)[-1] }}</p>
      <div id="tree-container" class="border rounded bg-white" style="min-height: 500px;"></div>
      <div class="d-none" aria-hidden="true">
        <input type="radio" name="tree-display" id="phy_b">
        <label for="phy_b">Phylogram</label>
        <input type="radio" name="tree-display" id="cla_b">
        <label for="cla_b">Cladogram</label>
        <input type="radio" name="tree-display" id="phya_b">
        <label for="phya_b">Aligned phylogram</label>
      </div>
      <script src="https://unpkg.com/jquery@3.7.1/dist/jquery.min.js" integrity="sha384-1H217gwSVyLSIfaLxHbE7dRb3v4mYCKbpQvzx0cegeju1MVsGrX5xXxAvs/HgeFs" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/jquery-ui-dist@1.13.3/jquery-ui.min.js" integrity="sha384-oVpH0DXO9nadZxTmPSQo3YwWqfN/Up9aRDHCxLrw8A2LjkFNcM/XILw4KGMaL95z" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/d3@3.5.17/d3.min.js" integrity="sha384-N8EP0Yml0jN7e0DcXlZ6rt+iqKU9Ck6f1ZQ+j2puxatnBq4k9E8Q6vqBcY34LNbn" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/underscore@1.13.7/underscore-min.js" integrity="sha384-pSOYJz6tr3k8mV502/FWpqSv7+V4JzjQc8uhWMOZE1SoCFLcJCSfxMFOE6hEd/hT" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/phyloxml@0.9.16/sax.js" integrity="sha384-r+pGLTJHjZxhG9bghjuHlvrYFq+b7hRuOcdqI/S07ZxOeLz08Yk6HnwNYV8ZfCoy" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/phyloxml@0.9.16/phyloxml.js" integrity="sha384-LLXafrz4arzswNJuWwwE2+iiKyMfIpn5HcZND9efc6dmn0UWEO835MtkABbEIcMb" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/archaeopteryx@1.8.1/forester.js" integrity="sha384-xWkrSioFNqLLtb+qT5nbSiWMGuo2e9rFE3Do0jzXkXiamW56Sm9bi/Ek7AMj/l4g" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/archaeopteryx@1.8.1/archaeopteryx.js" integrity="sha384-p6GlKhVZ4zr+onfcnq1RdJWS1yfbZvaa0o4c5urN+3Vv+sJRefuswCzLJtNDA9cz" crossorigin="anonymous"></script>
      <script>
        const newick = {{ tree_content | tojson }}.trim();
        const tree = archaeopteryx.parseNewHampshire(newick);
        const container = document.querySelector("#tree-container");
        const options = {};
        const settings = {
          enableDynamicSizing: true,
          zoomToFitUponWindowResize: true
        };
        $("#phy_b, #cla_b, #phya_b").checkboxradio({ icon: false });
        archaeopteryx.launch(`#${container.id}`, tree, options, settings, []);
      </script>
      {% elif tree_root %}
      <p class="mb-0">No treefile found for this species.</p>
      {% else %}
      <p class="mb-0">Set the MARC_TREE_FP environment variable to load treefiles.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
