name: Release Package

on:
  release:
    types: [published]

  workflow_dispatch:

jobs:
  run-tests:
    uses: ./.github/workflows/test.yml
    secrets: inherit
  
  build-and-push-to-dockerhub:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    needs: run-tests

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: chopmicrobiome/marc_web
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
