name: Test Package

on:
  workflow_call:

  workflow_dispatch:

jobs:
  tests:
    name: Run Tests
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.13', '3.12', '3.11', '3.10']
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install project
        run: |
          python -m pip install -r requirements.txt
          python -m pip install -r dev-requirements.txt
      - name: Run tests
        run: pytest -s -vvvv -l --tb=long tests/

  lint:
    name: Lint Code Base
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: 3.12
      - name: Install Dependencies
        run: pip install black

      - name: Lint Code Base
        run: black --check .